<%= javascript_pack_tag 'root' %>
<%= stylesheet_pack_tag 'root' %>
<h1>Shipping Rate Finder</h1>
<script>
  document.availableOrigins = <%= @rates.map(&:origin).uniq.sort.to_json.html_safe %>
  document.availableDestinations = <%= @rates.map(&:destination).uniq.sort.to_json.html_safe %>
</script>

<div id="app-root">
  <app></app>
</div>
